*{
    font-family: "Anton", sans-serif;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    margin-top: 200px;
}
th, td{
    padding: 5px;
}
.anton-regular {
    font-family: "Anton", sans-serif;
    font-style: normal;
  }
  
